<div class="center">
  <div id="name-selector">
    <div id="name-container">
      <div id="kit-name">


        <div id="letter-k">
          <div class="v-bar front"></div>

          <div class="v-bar left"></div>
        </div>


        <div id="letter-i">
          <div class="v-bar front"></div>

          <div class="v-bar left"></div>
        </div>

        <div id="letter-t">
          <div class="v-bar front"></div>

          <div class="h-bar f"></div>
          <div class="h-bar r"></div>

          <div class="v-bar left"></div>
        </div>

      </div>

    </div> </div>
</div>
